<section class="section pt-5 related-projects-section bg-white">
	<div class="container">
		<h3 class="section-title font-weight-bold text-center mb-4">You May Also Like...</h3>
		<div class="blog-cards blog-cards-related">
			<div class="row">
				<!--under construction - use projects/related.njk as a reference-->
			</div>
		</div>
	</div>
</section>
