<footer class="footer text-light text-center py-2">
    <small class="copyright">Template copyright &copy; <a class="text-light text-link" href="https://themes.3rdwavemedia.com/" target="_blank" rel="nofollow noreferrer noopener">3rd Wave Media</a> — ported to <a class="text-light text-link" href="https://11ty.dev/" target="_blank" rel="nofollow noreferrer noopener">11ty</a> by <a class="text-light text-link" href="{{ site.url }}">{{ site.title }}</a></small>
</footer>
