---
eleventyExcludeFromCollections: true
title: Blog
layout: posts
permalink: false
description: I write about web development and life as a developer. You can follow me via the various channels below.
eleventyNavigation:
  key: Blog
  order: 4
---
