---
eleventyExcludeFromCollections: true
title: Blog
layout: posts
permalink: false
description: Scrivo di sviluppo web e della vita come sviluppatrice. Puoi seguirmi attraverso i vari canali qui sotto.
eleventyNavigation:
  key: Blog
  order: 4
---
