---
title: Projects
layout: projects
permalink: "/projects/"
description: In-depth Case Studies to show you what I can offer and how I work. WordPress, Eleventy, Google, Bootstrap, and more.
eleventyNavigation:
  key: Projects
  order: 2
---
