---
title: Curriculum
layout: resume
slugOverride: curriculum
description: Le mie competenze spaziano dall'analisi di mercato, lo sviluppo di siti web, il marketing diretto via email, la gestione dei social media e la scrittura di contenuti.
eleventyNavigation:
  key: Curriculum
  order: 5
---
Sono una specialista della presenza online, con competenze versatili in informatica, lingue e comunicazione. La mia esperienza comprende lo sviluppo di siti web, la marketing automation e i social media, con particolare interesse per i SSG e la SEO. Appassionata di ricerca, tecnologia digitale e scrittura, contribuisco alla crescita online di startup, imprese, organizzazioni non profit e professionisti. Grazie alla mia curiosità e a costanti aggiornamenti, adatto le strategie alle nuove tendenze digitali, dimostrando un impegno verso il successo online tramite soluzioni innovative e personalizzate.
