---
title: Resume
layout: resume
permalink: "/resume/"
description: My comprehensive expertise encompasses market analysis, website development, direct email marketing, social media management, and web content writing.
eleventyNavigation:
  key: Resume
  order: 5
---
I'm a versatile online presence specialist from Italy, blending skills in computer science, languages, and communication. My comprehensive expertise encompasses web development, website development, marketing automation and social media services, focusing particularly on SSG and SEO. Passionate about research, digital tech, and writing, I contribute to startups, businesses, non-profits, and professionals, fostering online growth. Fueled by curiosity, I adapt strategies to emerging digital trends, showcasing a commitment to driving online success through innovation and tailored solutions.
