{% extends '../layouts/base.njk' %}
{% block content %}
	{% include 'common/header.njk' %}
	{% include 'home/skills.njk' %}
    <!--{% include 'home/press.njk' %}-->
    {% include 'common/cta.njk' %}
	{% include 'common/footer.njk' %}
{% endblock %}
