{% extends '../layouts/base.njk' %}
{% block content %}
    {% include 'common/header.njk' %}
    {% include 'home/skills.njk' %}
    {% include 'home/proof.njk' %}
    {% include 'home/projects.njk' %}
    <!--{% include 'home/blog.njk' %}-->
    <!--{% include 'home/press.njk' %}-->
    {% include 'common/cta.njk' %}
    {% include 'common/footer.njk' %}
{% endblock %}
