{% extends '../layouts/base.njk' %}
{% block content %}
	{% include 'common/header.njk' %}
	{% for project in collections.projects %}
		{% if project.fileSlug == page.fileSlug and project.lang == lang %}
			<div class="project-wrapper container py-5">
				<div class="row">
					<section class="col-12 col-lg-8">
						{% include 'project/main.njk' %}
						<!--content-->
					</section>
					<aside class="project-sidebar col-12 col-lg-4 ps-lg-5">
						{% include 'project/sidebar.njk' %}
					</aside>
				</div>
			</div>
		{% endif %}
	{% endfor %}		
	{% include 'project/related.njk' %}
	{% include 'common/cta.njk' %}
	{% include 'common/footer.njk' %}
{% endblock %}